  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 24px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 10px;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 .result_para_tag span
 {
white-space: pre-line;
 }
 .copy_right_footer {
   position: fixed;
   color: blue;
   bottom: 0px;
   width: 100%;
   background-color: cyan;
   text-align: center;
   line-height: 3px;
 }
 canvas{
   border-radius: 25px;
   border: 5px white;
   box-shadow: 5px 5px 5px gray;
   margin-top: 250px;
 }